.aside {
    max-width: 260px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

.aside__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside__logo img {
    padding: 21px 44px 54px;
}

.nav {}

.nav__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.nav__item {}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    transition: var(--transition);
}

.nav__link img {
    opacity: 0;
    transition: var(--transition);
}

.nav__link:hover {
    font-weight: 500;
    color: var(--accent-color);
}

.nav__link:hover img {
    opacity: 1;
}

.contacts {
    margin-left: 30px;
    margin-bottom: 20px;
}

.contacts__text {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 13px;
}

.contacts__location,
.contacts__tel {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    gap: 9px;
}

.contacts__location {
    align-items: start;
}

.contacts__tel {
    align-items: center;
    transition: var(--transition);
}

.contacts__tel:hover {
    color: var(--accent-color);
}

.contacts__location-icon,
.contacts__tel-icon {
    content: '';
    width: 22px;
    height: 22px;
    background: var(--accent-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    flex-shrink: 0;
}

.contacts__button {
    font-size: 14px;
    text-decoration: underline;
    color: var(--accent-color);
    cursor: pointer;
}

.contacts__button:hover {
    font-weight: 500;
    text-decoration: underline;
}

.socials {
    margin-left: 20px;
}

.socials__link {
    content: '';
    width: 34px;
    height: 34px;
    border: .5px solid var(--general-text);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.socials__link path {
    transition: var(--transition);
}

.socials__link:hover path {
    fill: var(--accent-color);
    border: .5px solid var(--accent-color);
}

.socials__link:hover {
    border: .5px solid var(--accent-color);
}