.none {
    display: none;
}

:root {
    --general-text: #000;
    --accent-color: #e31e24;
    --general-bg: #fff;
    --transition: all .4s;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

.body {
    font-family: Montserrat, Arial, sans-serif;
    line-height: 1.25;
    color: var(--general-text);
    background: var(--general-bg);
}

.body--opened-menu,
.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    max-width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    min-height: 100%;
    display: flex;
    overflow: hidden;
}

.wrapper-body {
    width: 100%;
    padding-left: 260px;
}

.main {}

.main__prev {
    padding-bottom: 88px;
}

.main__about,
.main__infrastructure,
.main__options,
.main__presentation,
.main__layout,
.main__construction,
.main__news,
.main__consultation {
    padding: 0 88px 96px 63px;
}

.main__privilege {
    padding: 0 88px 67px 63px;
}

.main__gallery {
    padding: 0 0 96px 0;
}

.decor-1::after {
    position: absolute;
    content: "";
    height: 112px;
    width: 23px;
    background-color: var(--accent-color);
    top: 0;
    left: 0;
}

.decor-2::after {
    position: absolute;
    content: "";
    height: 112px;
    width: 23px;
    background-color: #5b5b5b;
    top: 0;
    left: 0;
}

.container {
    max-width: 1180px;
    width: 100%;
    height: 100%;
}

.title {
    font-family: 'Bebas Neue Book';
    font-size: 50px;
    color: var(--general-text);
    line-height: 1;
    margin-bottom: 48px;
}

.modal__call-window {
    position: relative;
    max-width: 393px;
    background: var(--general-bg);
    padding: 38px 56px 23px 52px;
}

.modal__cancel {
    position: absolute;
    top: 23px;
    right: 23px;
}

.modal__cancel-a,
.modal__cancel-b {
    display: block;
    height: 2px;
    background: var(--general-text);
    position: absolute;
    left: calc(50% - 10px);
    top: 50%;
    width: 16px;
    transition: var(--transition);
}

.modal__cancel-a {
    transform: rotate(45deg);
}

.modal__cancel-b {
    transform: rotate(-45deg);
}

.modal__call-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 16px;
    text-align: center;
}

.modal__call-form {
    display: flex;
    flex-direction: column;
    max-width: 285px;
    gap: 12px;
    margin-bottom: 24px;
}

.modal__call-text {
    font-size: 12px;
    color: #9b9b9b;
}

.modal__form-lable {}

.field {
    display: block;
    font-size: 18px;
    color: #333;
}

.field__input {
    display: block;
    width: 100%;
    border: 0.5px solid #a6a6a6;
    border-radius: 2px;
    padding: 13px 42px 13px 10px;
    background: #00000000;
    transition: var(--transition);
    margin-top: 5px;
}

.field__input::placeholder {
    color: #9b9b9b;
    transition: var(--transition);
    font-size: 18px;
}

.button {
    display: block;
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: #fff;
    padding: 14px 15px;
    background: var(--accent-color);
    transition: var(--transition);
}

.button:hover {
    background: #d10d13;
}

.arrow {
    padding: 15px 6px;
    background: transparent;
}

.arrow path {
    transition: var(--transition);
}

.arrow:hover path {
    stroke: var(--accent-color);
}

.modal {
    position: fixed;
    inset: 0;
    background: #00000080;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;

    z-index: 20;
}

.modal--opened {
    opacity: 1;
    visibility: visible;
}

.modal__full-window {
    position: relative;
    max-width: 785px;
    background: var(--general-bg);
    padding: 30px;
}

.modal__full-cancel {
    top: 35px;
    right: 35px;
}

.modal__full-title {
    font-weight: 600;
    font-size: 40px;
    color: var(--general-text);
    margin-bottom: 20px;
    text-align: center;
}

.modal__full-text {}

.modal__part-window {
    position: relative;
    max-width: 785px;
    background: var(--general-bg);
    padding: 30px;
}

.modal__part-cancel {
    top: 35px;
    right: 35px;
}

.modal__part-title {
    font-weight: 600;
    font-size: 40px;
    color: var(--general-text);
    margin-bottom: 20px;
    text-align: center;
}

.modal__part-text {}

.modal__mortgage-window {
    position: relative;
    max-width: 785px;
    background: var(--general-bg);
    padding: 30px;
}

.modal__mortgage-cancel {
    top: 35px;
    right: 35px;
}

.modal__mortgage-title {
    font-weight: 600;
    font-size: 40px;
    color: var(--general-text);
    margin-bottom: 20px;
    text-align: center;
}

.modal__mortgage-text {}

.tab-controls {
    display: flex;
    align-items: center;
}

.tab-controls__item {
    margin-right: 40px;
    position: relative;
}

.tab-controls__item:last-child {
    margin-right: 0;
}

.tab-controls__link {
    transition: var(--transition);
}

.tab-controls__link:hover,
.tab-controls__link--active {
    font-weight: 700;
}

.tab-controls__link--active::before {
    content: '';
    left: 0;
    bottom: -10px;
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--accent-color);
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: flex;
}