* {
    box-sizing: border-box;
}

.block,
.inline {
    background: #e0d5c5;
}

/* ============================================== */

.block {
    /* padding: 50px; */

    /* padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px; */

    /* padding: 30px 60px 10px 100px; */

    /* padding: 30px 60px 10px; */

    padding: 30px 60px;
}

.inline {
}

.img {
}