:root {
    --general-text: #312C27;
    --accent-text: #1F1711;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
}

body {
    font-family: Montserrat, Arial, sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);

}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    
}

/* ================= HEADER ===================== */

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    max-width: 174px;
}

.nav {}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__item {}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -15px;
    z-index: -1;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);

    opacity: 0;
    transition: all .4s;
}

.nav__link:hover::before {
    opacity: 1;
}