* {
    box-sizing: border-box;
}

.block,
.inline {
    background: #e0d5c5;
}

/* ============================================== */

.block {
    /* border: 5px groove #cf5353;

    border-top: 5px double #000;
    border-width: 10px;
    border-style: dotted;
    border-color: #62cf53;

    border-bottom-color: #b84fb1; */

    border: 1px solid #000;
    /* border-radius: 30px; */

    /* border-top-right-radius: 40px; */

    /* border-radius: 30px 0 0 0; */

    outline: 5px groove #cf5353;
}

.inline {
    /* border: 1px solid #000; */
}

.img {
    border: 5px solid #c21111;
    border-radius: 10px;
}

.block-1 {
    border: 5px dotted #3212a3;
}

.block-2 {
    border: 5px dashed #910b64;
}

.block-3 {
    border: 5px inset #1d745a;
}

.block-4 {
    border: 10px ridge #d367dd;
}